@use "./variables.scss";
@use "./modal.scss";
body{
    background-color:variables.$bgBody;
    
}
.nav_menu{
    @include modal.navBottom_menu
}
.btnLigne{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
}
.cardsR{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
    div{
        padding: 0;
        img{
            width: 200px;
            height: 200px;
            padding: 0;
        }
        h1{
           margin: 0;
        }
    }

}
